<html>
    <head>
        <title>doc-print</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <main class="w-full flex  flex-col justify-center items-center bg-blue-100" id="footer">

            <div class="w-5/6 flex justify-between">
                <div>
                    <p>Developed BY : <a href="https://www.instagram.com/itz.ankith.sharma">Ankith Kumar</a></p>
                </div>

                <div>
                    <button onclick="window.location.href='mailto:ankith7800@gmail.com?subject=Query%20from%20doc-print%20%3A%20'">Contact</button>
                </div>
            </div>
            
            <div>
                <p>Copyright &copy; 2025 | All right reserved</p>
            </div>

        </main>
    </body>
</html>