<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="nav-logo">
                <h1>doc-print</h1>
            </div>
            <div class="flex gap-8">
                <button class="cursor-pointer text-black" onclick="location.href='/'"> HOME </button>
                <!-- <button class="cursor-pointer text-black" onclick="location.href='/about'"> ABOUT </button> -->
                <button class="cursor-pointer w-40 h-10 text-white" onclick="location.href='/login'" style="background-color: #007bff;"> LOG IN </button>
            </div>
        </nav>
    </body>
</html>